node_modules
web\.next
.vscode
.wwebjs_cache
storage\database\openwa.db
storage\database\openwa.db-journal
storage\database\openwa.db-shm
storage\database\openwa.db-wal
storage\sessions
storage\media
.env
